:root {
  --warm-white: #e9f0ff;
  --primary-color: #3047d2;
  --secondary-color: #1d2b51;
  --white-color: #fff;
  --gray-color: #979797;
  --light-gray-color: #e4e4e4;
  --primary-text-color: #1c2950;
  --bg-color: #f9fbfd;
}

// --- Font color ---
.fc-primary {
  color: var(--primary-color);
}
.fc-gray {
  color: var(--gray-color);
}
.fc-white {
  color: var(--primary-text-color);
}

// --- Background color ---
.bg-black {
  background: var(--bg-black);
}
