:root {
}

// --- Font color ---
.fc-primary {
  color: var(--primary-color);
}
.fc-gray {
  color: var(--gray-color);
}
.fc-white {
  color: var(--primary-text-color);
}

// --- Background color ---
.bg-black {
  background: var(--bg-black);
}
